[Unit]
Description=YOLO-Processor
After=network.target

[Service]
ExecStart=python3 /root/psychic-tribble/main.py
WorkingDirectory=/root/psychic-tribble/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ocean
Environment="PATH=/root/psychic-tribble/venv/bin"

[Install]
WantedBy=multi-user.target
